.App {
  text-align: center;
  width: 90%;
  margin: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.table {
  width: 100%;
  padding: 5px;
}

.table th {
  font-size: 1rem;
}

.table tbody tr td {
  font-size: 1rem;
}

.table tbody tr td img {
  height: 200px;
}
.table-style {
  border-radius: 5px;
  border: 1px solid rgb(167, 167, 167);
}

.select-container {
  margin-bottom: 10px;
}

.select-container .select-container__title {
  margin: 0px;
}
